allure-pytest==2.9.44
allure-python-commons==2.9.44
Appium-Python-Client==0.11
attrs==21.2.0
colorama==0.4.4
custom-text-test-runner==0.1.5
enum34==1.1.6
namedlist==1.8
pluggy==0.4.0
py==1.8.2
pytest==6.2.5
selenium==3.141.0
selenium-unittest==0.2.3
six==1.16.0
table-printer==0.1.4
xmlrunner==1.7.7
